@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
}


/* Color Change on Countdown */
@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes lottery-wheel {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.lottery-wheel {
  animation: lottery-wheel 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s infinite;
}