.main {
    background: url('../college_blur_img.jpg');
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    color: white;
    width: 50rem;
    font-size: 1.1rem;
    text-align: center;
}

.name {
    color: rgb(178 195 58);
    margin-top: 20px;
}